<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
    const host = "miraifoodlab.cl";
    if ((host === window.location.host) && (window.location.protocol !== "https:"))
      window.location.protocol = "hptts";
  </script>
  <meta charset="utf-8">
  <link rel="canonical" href="miraifoodlab.cl"/>
  <title>mirai food lab</title>
  <script src="https://unpkg.com/vue"></script>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="assets/styles.css">
</head>
<body class="leading-normal tracking-normal">
  <div id="app">
    <div id="header"
      class="p-24 text-white"
      :style="`background-image: url('assets/header-bg${randomBg}.jpg');`">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left -->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">          
          <img id="logo" class="w-full md:w-4/5 z-50" src="assets/mirai-framed.svg">
        </div>
        <!--Right -->
        <div class="w-full md:w-3/5 py-6 text-center">
          <p class="uppercase tracking-loose w-full font-bold">Experimentando con sabores</p>
          <h1 class="my-4 text-6xl font-bold leading-tight">mirai food lab</h1>
          <p class="leading-normal text-2xl mb-8">Kombucha, pan artesanal, pastelería, koji, miso y varios productos fermentados.</p>
        </div>
      </div>
    </div>
    <div id="content" class="container my-12 mx-auto px-4 md:px-12 bg-gray-100">
      <div class="flex items-start flex-wrap -mx-4">
        <div
          v-for="social in socialData"
          :key="social.name"
          class="w-1/3 p-2 text-center">
          <h3 class="sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">
            <a :href="social.url" target="_blank">
              <img v-if="social.type === 'image'" :src="`assets/${social.name}-logo.svg`" class="social-logo pr-0 md:pr-3 inline" alt="">
              <i v-if="social.type === 'icon'" :class="`social-logo pr-0 md:pr-3 inline fas ${social.name}`" alt=""></i>
              {{ social.text }}
            </a>
          </h3>
        </div>
      </div>
    </div>
    <div id="instagram" class="container my-12 mx-auto px-4 md:px-12">
      <div class="flex items-start flex-wrap -mx-4">
        <div
          v-for="(image, i) in instagramFeed" :key="`image-${i}`"
          class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4">
          <div class="m-3 rounded overflow-hidden shadow-lg">
            <a :href="`https://www.instagram.com/miraifoodlab/p/${image.node.shortcode}`" target="_blank">
              <img alt="" class="" :src="image.node.display_url">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="footer" class="container my-12 mx-auto px-4 md:px-12 bg-black text-white">
      <p class="p-4">Mirai Food Lab - 2020</p>
    </div>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        instagramFeed: [],
        randomBg: '',
        socialData: [
          {
            type: 'image',
            name: 'whatsapp',
            text: '+569 4214 2997',
            url: 'https://api.whatsapp.com/send?phone=56942142997'
          },
          {
            type: 'image',
            name: 'instagram',
            text: 'miraifoodlab',
            url: 'https://www.instagram.com/miraifoodlab'
          },
          {
            type: 'icon',
            name: 'fa-utensils',
            text: 'nuestro menú',
            url: 'https://slides.com/miraifoodlab/mirai-brochure/'
          }
        ]
      },
      methods: {
        getInstagramFeed() {
          const externalThis = this;
          const xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              const myObj = JSON.parse(this.responseText);
              externalThis.instagramFeed = myObj.graphql.user.edge_owner_to_timeline_media.edges;
            }
          };
          xmlhttp.open("GET", "https://www.instagram.com/miraifoodlab?__a=1", true);
          xmlhttp.send();
        },
        getRandomBg() { this.randomBg = Math.ceil(Math.random() * 5) }
      },
      async mounted() {
        await this.getInstagramFeed();
        this.getRandomBg();
      }
    })
  </script>
</body>
</html>
