body {
  font-family: 'Source Sans Pro', sans-serif;
}
#logo {
  filter: invert(1);
}
.gradient {
  background: linear-gradient(90deg, #979595 0%, #ffffff 100%);
}
#header {
  background-size: cover;
  background-image: url("img_tree.png");
  background-repeat: no-repeat;
  background-position: center;
}
#hero-text span {
  padding:  7px;
  background: #000000;
}
#content {

}
.social-links:hover {
  background: #f7fafc;
}